/*
Theme Name: UKFL
Theme URI:
Version: 1.0.1
Template: busiprof-pro
*/

.navbar-brand { padding: 0px; }
.post-thumbnail img { max-width: 250px; }
.entry-venue:before { 
	font-family: FontAwesome;
	color: #abb6bc;
	position: relative;
	display: inline-block;
	font-size: 14px;
	padding-right: 10px;
	text-decoration: inherit;
	vertical-align: baseline;
	content: "\f041";
}

.top-header-widget .widget { padding: 0px; }

.input-sm {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.tml { max-width: 100%; }
.form-horizontal .control-label { padding-top:15px; font-weight: 700 }
.box {
    background-color: #f7f7f7;
    border: 1px solid #e4e8ea;
    text-align: center;
    border-radius: 4px;
    padding: 30px 15px 25px;
    margin: 0 0 40px;
    transition: all 0.3s ease 0s;
}

/* h3, .h3 { border-bottom: 1px solid #bdc7d0; padding-bottom: 5px; } */
.panel-heading h3 { margin:0px; }
.post-thumbnail img {
    background-color: #fff;
    border: 1px solid #ddd;
    display: block;
    line-height: 1.42857;
    margin-bottom: 20px;
    padding: 4px;
    transition: border 0.2s ease-in-out 0s;
}

.post-thumbnail img { width: 100%; }



/*--------------------------------------------------------------------------
+	Events List Style
--------------------------------------------------------------------------*/
.events-list {
  width: 100%;
  border-width: 0px;
  table-layout: auto;
  margin: 0px;
  /*font-size: 0.9em;*/
}
.events-list>thead>tr>th, .events-list>tbody>tr>th, .events-list>tfoot>tr>th, .events-list>thead>tr>td, .events-list>tbody>tr>td, .events-list>tfoot>tr>td {
	vertical-align: middle;
}
.events-list tr, .events-list tr td {
  border:0px;
  padding: 5px 20px 5px 0;
}
.events-list tr td:last-child {
  padding: 5px 0;
  text-align: right;
}
.events-list tr:hover .event-date {
  border-left: 5px solid #344656;
}
.events-list .event-date {
  margin: 3px 0;
  padding: 2px 10px;
  border-left: 5px solid #CFCFCF;
  -webkit-transition: all .25s linear;
  -moz-transition: all .25s linear;
  -o-transition: all .25s linear;
  -ms-transition: all .25s linear;
  transition: all .25s linear;
}
.events-list .event-date .event-day {
  color: #808080;
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
}
.events-list .event-date .event-month {
  color: #CFCFCF;
  font-size: 1.1em;
  font-weight: 600;
  text-align: center;
}
.events-list .event-date .event-venue,
.events-list .event-date .event-price {
  white-space: nowrap;
}
