/*
Theme Name: UKFL
Theme URI:
Version: 1.0.1
Template: busiprof-pro
*/

.navbar-brand { padding: 0px; }
.post-thumbnail img { max-width: 250px; }
.entry-venue:before { 
	font-family: FontAwesome;
	color: #abb6bc;
	position: relative;
	display: inline-block;
	font-size: 14px;
	padding-right: 10px;
	text-decoration: inherit;
	vertical-align: baseline;
	content: "\f041";
}

.top-header-widget .widget { padding: 0px; }

.input-sm {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
